<ion-view view-title="Spread the word...">
  <ion-content style="background: url({{background}}) center; background-size: cover;">
   <div class="card" style="background:rgba(255,255,255,0.5);">
   <div class="item item-divider" style="background:rgba(255,255,255,0.5);">
   </div>
     <ul class="list">
       <li class="item" id="displayLabel">
      <div class="item item-text-wrap">
        <button class="button button-block button-light icon-left ion-social-whatsapp" ng-click="whatsappShare()" style="background:rgba(255,255,255,0.5);">
              WhatsApp
      </button>
      </li>
 
    <ul class="list">
       <li class="item" id="displayLabel">
      <div class="item item-text-wrap">
        <button class="button button-block button-light icon-left ion-social-twitter" ng-click="twitterShare()" style="background:rgba(255,255,255,0.5);">
              Twitter
      </button>
      </li>
    <ul class="list">
       <li class="item" id="displayLabel">
      <div class="item item-text-wrap">
        <button class="button button-block button-light icon-left ion-social-facebook" ng-click="facebookShare()" style="background:rgba(255,255,255,0.5);">
              Facebook
      </button>
      </li>
      <ul class="list">
       <li class="item" id="displayLabel">
      <div class="item item-text-wrap">
        <button class="button button-block button-light icon-left ion-social-instagram" ng-click="instagramShare()" style="background:rgba(255,255,255,0.5);">
              Instagram
      </button>
      </li>
      <li class="item" id="displayLabel">
      <div class="item item-text-wrap">
        <button class="button button-block button-light item-icon-left transparent" ng-click="OtherShare()" style="background:rgba(255,255,255,0.5);">
             <i class="icon ion-android-share-alt"></i>
              Other
      </button>
      </li>
    </ul>
 
 
 
   </div>
 </div>
  </ion-content>
</ion-view>