<ion-view view-title="Challenge Categories" style="background: url({{background}}) center; background-size: cover;">

  <ion-content scroll="true">
    <div class="item-borderless" ng-repeat="challengeCategory in challengeCategories" ng-style="myObj"
    style="background-image: url({{challengeCategory.image}}); filter: brightness(50%);">
        <ion-item class="item-borderless" ui-sref="app.challengeCategory({id: challengeCategory.id})" style="display: inline-block;vertical-align: middle;font-size: 30px; text-align:center;">
          <font color="white">{{challengeCategory.name}} </font>
        </ion-item>
    </div>
  </ion-content>

</ion-view>