<ion-view view-title="Challenge Categories">
<ion-content scroll="true" style="background: url({{background}}) center; background-size: cover;">
  <div class="list card" style="background:rgba(255,255,255,0.5);">

    <div class="item item-avatar" >
      <img src="{{challengeCategory.image}}">
      <h2>{{challengeCategory.name}}</h2>
    </div>

    <p>{{challengeCategory.description}}</p>

    <div class="item item-image">
      <img src="{{challengeCategory.image}}">
    </div>

  </div>
</ion-content>
</ion-view>