<ion-view view-title="{{product.name}}">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="{{product.profileImage}}">
        <h2>{{product.name}}</h2>
        <h1>{{product.bounty}}</h1>
      </div>

      <div class="item item-body">
        <img class="full-image" src="{{product.profileImage}}">
        <p>
          {{product.description}}
        </p>
        <p>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>