<ion-view view-title="Vendors">
      <ion-header-bar class="bar-positive">
    <h1 class="title">Search vendors</h1>
    <div class="buttons">
        <button class="button button-icon ion-android-search" 
                ng-click="vm.showFilterBar()"></button>
    </div>      
  </ion-header-bar>

    <ion-content ng-class="{expanded:isExpanded}">

        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchQuery"/>
        </label>
        <div class="content has-header">
            <!--<div class="list animate-fade-slide-in-right">-->
                <ion-list>
                <div class="list">
                    <a ui-sref="app.vendor({id: vendor.$id})" class="item item-avatar"
                        ng-repeat="vendor in vendors | filter:searchQuery" ng-style="style" 
                        style="background-image: url({{vendor.profileImage}})">
                        <h2 class="light">{{vendor.name}}</h2>
                        <h4 class="light">{{vendor.description}}</h4>
                    </a>
                 </div>
                </ion-list>
        </div>
    </ion-content>
</ion-view>

