
<ion-modal-view>
   <ion-header-bar>
      <h1 class = "title">Almost did it! {{challenge.challengeeName}}</h1>
      <div class="item item avatar">
          <img src="{{challenge.challengeeImage}}">
      </div>
   </ion-header-bar>
	
   <ion-content>
       <h3>Don't worry the community is still getting enriched, there's always next time!</h3>
      <i class="icon ion-checkmark-round">ion-happy-outline</i> 
       <h5>Here are your statistics:</h5>
       <h4>Bounty: R{{challenge.bounty}}
       <p>Charity Selected: <a ui-sref="app.charity({charityId: challenge.charity})">{{challenge.charityName}}</a> </p>
       <p>Charity Percentage: {{challenge.charityPercentage}} </p>
       <p>Charity Earnings: <a>{{charityEarnings + challengeeEarnings}}</a> </p>
       <p>Admin Fee: <a>{{adminEarnings}}</a> </p>

      <button class = "button icon icon-left ion-ios-close-outline"
         ng-click = "closeModal()">Close Modal</button>
   </ion-content>
</ion-modal-view>






 
     