<ion-modal-view>
   <ion-header-bar>
      <h1 class = "title">Congratulations {{challenge.challengeeName}}</h1>
      <div class="item item avatar">
          <img src="{{challenge.challengeeImage}}">
      </div>
   </ion-header-bar>
	
   <ion-content>
       <h3>Congratulations you have succesfully completed the challenge</h3>
       <h5>Here are your statistics:</h5>
       <h4>Bounty: R{{challenge.bounty}}
       <p>Charity Selected: <a ui-sref="app.charity({charityId: challenge.charity})">{{challenge.charityName}}</a> </p>
       <p>Charity Percentage: {{challenge.charityPercentage}} </p>
       <p>Charity Earnings: <a>{{charityEarnings}}</a> </p>
       <p>Admin Fee: <a>{{adminEarnings}}</a> </p>
       <p>Your total winnings: {{challengeeEarnings}} </p>
       <a ui-sref="app.vendors">Select a vendor to claim prize</a>

      <button class = "button icon icon-left ion-ios-close-outline"
         ng-click = "closeModal()">Close Modal</button>
   </ion-content>
</ion-modal-view>






 
     