<!--<ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="addUserToChallenge()"><i class="icon ion-person-add"></i></button>
        <button class="button button-icon icon ion-camera" ng-click="upload()"></button>
</ion-nav-buttons>-->