<!--<p class="balanced">Countdown {{counter}}s</p> -->
<!--<timer interval="1000" countdown="{{counter}}"> >{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds</timer>-->
    <div class="list card" style="background:rgba(255,255,255,0.5);">
          <div class="item item-avatar">
            <img src="{{challenge.challenger.profileImageURL}}">
            <h2>{{challenge.name}}</h2>
            <p>{{challenge.description}}</p>
            <p>Status: {{challenge.status}}</p>
            <p ng-show="statusComplete"> Completion: {{completionResult}}</p>
         </div>
        <div class="item item-image">
            <img src="{{challenge.image}}">
        </div>

        <!--<div class="tabs tabs-stable tabs-icon-left static">-->
            <!--<button class="assertive" ng-show="!statusComplete && isFollowerAndChallenger || !statusComplete && isFollowerAndChallengee" ng-click = "completeChallenge()" ui-sref="app.friendProfilePreview({friendId: group.content.challengerId})" style="background:rgba(255,255,255,0.5);">
                <i class="icon ion-close-round"></i> Terminate         
            </button> 
            <button class="balanced" ng-show="!statusComplete && isFollowerAndChallenger || !statusComplete && isFollowerAndChallengee" ng-click = "completeChallenge()" style="background:rgba(255,255,255,0.5);">
                <i class="icon ion-checkmark-round"></i>
                Complete
            </button>      -->
        <!--</div>-->

        <a class="item item-icon-left assertive" ng-show="!statusComplete && isFollowerAndChallenger || !statusComplete && isFollowerAndChallengee" ui-sref="app.friendProfilePreview({friendId: group.content.challengerId})" style="background:rgba(255,255,255,0.5);">
            <i class="icon ion-close-round"></i>
            Terminate Challenge
        </a>
        
        <a class="item item-icon-left balanced" ng-show="!statusComplete && isFollowerAndChallenger || !statusComplete && isFollowerAndChallengee" ng-click = "completeChallenge()" style="background:rgba(255,255,255,0.5);">
            <i class="icon ion-checkmark-round"></i>
            Complete Challenge
        </a>
        <a class="item item-icon-left balanced" ng-show="statusComplete" ui-sref="app.challengeSummary({id: challenge.id})">
            <i class="icon ion-clipboard"></i>
            View Summary
        </a>
        <a class="item item-icon-left energized" ng-show="statusComplete && challenge.successfulCompletion && loggedUserIsChallengee" ui-sref="app.challengeReward({id: challenge.id})">
            <i class="icon ion-trophy"></i>
            Claim Reward
        </a>
    </div>                

                                    <!--Details Is Logged HERE-->
    <ion-list style="background:rgba(255,255,255,0.5);">
        <div ng-repeat="group in detailsElement">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{group.name}}
          </ion-item>
          <ion-item class="item-accordion" ng-show="isGroupShown(group)">
                    <div class="item item-divider" > <i class="icon ion-person-stalker"></i> Challengee </div>             
                    <a  class="item item-avatar"  ui-sref="app.friendProfile({friendId: group.content.challengee.id})">
                        <img src="{{group.content.challengee.profileImageURL}}">
                        <p class=light><b>{{group.content.challengee.challengeeUsername}}</b></p>
                        <p class=light><b>{{group.content.challengee.name}}</b></p>
                        <p class="pull-right royal"><b>Bounty: {{group.content.challengee.bounty}}</b></p>
                    </a>

                    <div class="item item-divider" > <i class="icon ion-flag"></i> Challenge Category </div>
                    <a  class="item item-avatar" ui-sref="app.challengeCategory({id: group.content.category.id})">
                        <img src="{{group.content.category.image}}">
                        <p class=light><b>{{group.content.category.name}}</b></p>
                    </a>

                    <div class="item item-divider"> Charity </div>
                     <a  class="item item-avatar" ui-sref="app.charity({id: group.content.charityId})">
                            <img src="{{group.content.charity.profileImage}}">
                            <p class=light><b>{{group.content.charity.name}}</b></p>
                            <p class=light><b>{{group.content.challenge.charityPercentage}}</b></p>          
                     </a>         
          </ion-item>
        </div>
      </ion-list>
                                <!--Activity Is Logged HERE-->
      <ion-list style="background:rgba(255,255,255,0.5);">
        <div ng-repeat="group in activityElement">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{group.name}}
            <span class="badge badge-assertive">{{group.size}}</span>
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="challenge in group.content"
                    ng-show="isGroupShown(group)"
                    ui-sref="app.challenge({id: challenge.id})" 
                    class="item-remove-animate" 
                    class="item item avatar" 
                    style="background-image: url({{challenge.image}}">
                            <div class="item card-item">
                                <div ui-sref="app.profile" class="card stable-bg ink ink-dark">
                                    <div class="item item-avatar item-text-wrap">
                                        <span class="avatar" style="background-image: url('{{challenge.owner.profileImageURL}}');"></span>
                                        <strong>{{ challenge.owner.name }}</strong> {{challenge.action}} a {{challenge.type}}.
                                        <div class="card-footer text-right">
                                            <i class="icon ion-chatbubbles positive"></i> 6
                                            <i class="icon ion-heart assertive"></i> 23
                                            <div class="pull-left">
                                                <i class="icon ion-clock"></i> {{ challenge.created | date:'HH:mm  dd-MMM-yyyy'}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
          </ion-item>
        </div>
      </ion-list>
                            <!--Progress Is Logged HERE-->
      <ion-list style="background:rgba(255,255,255,0.5);">
        <div ng-repeat="group in progressElement">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{group.name}}
          </ion-item>
          <ion-item class="item-accordion" ng-show="isGroupShown(group)">

        <!--<div class="card" ng-show="progressPercent > 0">-->
			<div class="item item-text-wrap" ng-show="progressPercent > 0">
				<div class="loader-progress" style="width: {{progressPercent}}%;">
					<p class="percent">{{progressPercent}}%</p>
				</div>
			</div>
            <div class="item item-input-inset" ng-show="loggedUserIsChallengee">
                <label class="item-input-wrapper">
                <i class="icon ion-arrow-graph-up-right placeholder-icon"></i>
                <input type="number" placeholder="Input Progress" ng-model="progressVal">
                </label>
                <button class="button button-small bar-balanced" ng-click="updateProgress(progressVal)">
                    Submit
                </button>
            </div>
        <!--</div>-->

        <!--<div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="number" placeholder="Input Progress" ng-model="progressVal">
            </label>
                <button class="button button-small" ng-click="updateProgress(progressVal)">
                    Submit
                </button>
        </div>-->
                    
          </ion-item>
        </div>
      </ion-list>
