<div class="tabs tabs-dark tabs-icon-top static">
    <a ui-sref="app.challenge.lower.followers" class="tab-item">
        <i class="icon ion-android-people"></i> Followers
    </a>
    <a ui-sref="app.challenge.lower.comments" class="tab-item">
        <i class="icon ion-edit"></i> Comments
    </a>  
    <a ui-sref="app.challenge.lower.media" class="tab-item">
        <i class="icon ion-camera"></i> Media
    </a>             
</div>