<div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Comment" ng-model="commentParams.content">
      </label>
      <button class="button button-small bar-balanced" ng-click="createComment(commentParams)">
        Comment
      </button>
</div>