<ion-list class="list card" class="list list-inset"
                    show-delete="shouldShowDelete"
                    show-reorder="shouldShowReorder"
                    can-swipe="listCanSwipe" style="background:rgba(255,255,255,0.5);">
                <!--<h3 class="dark"> Status Update</h3>-->
                <ion-item ng-repeat="image in images"
                            class="item-thumbnail" ng-click="showImages($index)">
                    <h1 class="dark">Date: {{image.date | date:'dd-MM-yyyy'}}</h1>
                    <h1 class="dark">Time: {{image.date | date:'HH:mm:ss'}}</h1>
                    <img ng-src="data:image/jpeg;base64,{{images[$index].image}}" width="100%" >
                    <ion-option-button class="button-positive"
                                    ng-click="share(image)">
                    Share
                    </ion-option-button>
                    <ion-option-button class="button-info"
                                    ng-click="edit(image)">
                    Edit
                    </ion-option-button>
                    <ion-delete-button class="ion-minus-circled"
                                    ng-click="images.splice($index, 1)">
                    </ion-delete-button>

                </ion-item>
            </ion-list>