<ion-view view-title="Your challenges to verify" align-title="left">
            <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchQuery"/>
        </label>
    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe" ng-show="challengesForFriends.length">
            <ion-content ui-sref='app.challenge({id: g.id, ime: g.name})' ng-repeat="g in challengesForFriends | filter:searchQuery"
                        class="item" style="background: url(img/project{{($index % 10) + 1}}.png) center; background-size: cover;">
                <h1><a class="dark"><strong>{{g.name}}</strong></a></h1>
                <!--<h2><strong>Challenger: getNameFromId({{g.id}})<strong><h2>-->
                <h2><strong>R{{g.bounty}}</strong></h2>
                <p>{{g.description}}</p>
                <h2 style="color: red"><strong> {{g.deadline}}</strong></h2>
                <div ng-repeat="member in g.followers" class="sharingWith" ng-style="{'background': 'url({{member.profileImageURL}})', 'background-size':'30px 30px', 'background-repeat': 'no-repeat'}" ng-show="'{{member.profileImageURL}}'" ng-click="$event.stopImmediatePropagation(); $event.preventDefault(); RemoveUserFromChallenge('{{member}}','{{g}}');"></div>
            </ion-content>
        </ion-list>
</ion-view>
