<div class="tabs tabs-light tabs-icon-top static">
    <a ui-sref=".followers" class="tab-item">
        <i class="icon ion-android-people"></i> Followers
    </a>
    <a ui-sref=".comments" class="tab-item">
        <i class="icon ion-edit"></i> Comments
    </a>  
    <a ui-sref=".media" class="tab-item">
        <i class="icon ion-camera"></i> Media
    </a> 
</div>
<div ui-view> </div> 