<ion-view view-title="Challenges">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="card" ng-show="!challenges.length">
            <div class="item item-divider">
                <span class="assertive">No challenges</span>
            </div>

            <div class="item item-text-wrap">
                Add a new challenge by clicking the + button below
            </div>          
        </div>

        <ion-list class="list" ng-show="challenges.length">
            <ion-item ui-sref='app.list({id: g.id, ime: g.name})' class="item item-avatar item-icon-right" ng-repeat="g in challenges | filter:!emptyOrNull">
                <img ng-src="img/project{{($index % 10) + 1}}.png" />
                <h2 class="myProjectTitle">{{ g.name }}</h2>
                <p>Bounty: {{g.bounty}}</p>
                <p>Challengee: {{g.challengeeid}}</p>
                
                <div ng-repeat="member in g.memberList" class="sharingWith" ng-style="{'background': 'url({{member.profileImageURL}})', 'background-size':'30px 30px', 'background-repeat': 'no-repeat'}" ng-show="'{{member.profileImageURL}}'" ng-click="$event.stopImmediatePropagation(); $event.preventDefault(); RemoveUserFromChallenge({{member}},{{g}});"></div>
                
                <ion-option-button class="button-assertive" ng-click="Remove('{{g.id}}')">Delete</ion-option-button>
                <ion-option-button class="button-positive" ng-click="Edit('{{g.id}}', '{{g.name}}')">Edit</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
