<ion-list class="list list-inset" show-delete="data.showDelete" show-reorder="data.showReorder">
        <ion-item ng-repeat="follower in followers" 
                  item="item"
                  ui-sref="app.friendProfile({friendId: follower.id})" class="item-remove-animate" class="item item avatar">
                                  <div class="item item-avatar item-text-wrap">
                                        <span class="avatar" style="background-image: url('{{follower.profileImageURL}}');"></span>
                                        <strong>{{ follower.name }}
                                        <p>{{follower.username}}</p>
                                        <div class="card-footer text-right">
                                        </div>
                                    </div>

          <ion-delete-button class="ion-minus-circled" 
                             ng-click="onItemDelete(follower)">
          </ion-delete-button>
          <!--<ion-option-button class="button-assertive"
                             ng-click="edit({{comment}})">
            Edit
          </ion-option-button>-->
          <!--<ion-option-button class="button-calm"
                             ng-click="share({{comment}})">
            Share
          </ion-option-button>-->
          <ion-option-button class="button-positive"
                             ng-click="delItem({{follower}})">
            Del
          </ion-option-button>
          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>
  </ion-list>
<!--
<button class="button button-full button-dark" ui-sref='app.addFollower({challengeId: challengeId})'>
  Add Follower
</button>-->

    <!--</ion-content>-->