<ion-view view-title="Challenge Summary" style="background: url({{background}}) center; background-size: cover;">
    <ion-content ng-class="{expanded:isExpanded}">
            <div class="list card" style="background:rgba(255,255,255,0.5);">
              <div class="item item-avatar">
                <img src="{{challenge.challengee.profileImageURL}}">
                <h2 class = "title">Congratulations {{challenge.challengeeName}}</h2>
                  <div class="item item avatar">
                      <img src="{{challenge.challengeeImage}}">
                  </div>
                <p>{{challenge.updated | date:'HH:mm  dd-MMM-yyyy'}}</p>
                <h2>Bounty: R{{challenge.bounty}}</h2>
              </div>

              <div class="item item-body">
                <div class="item item-divider">Challenge Category</div>
                                <p class="item">  {{challenge.category.name}} </p>
                                <img class="full-image" src="{{challenge.image}}">

                <div class="item item-divider">Description</div>
                                  <p>
                                      {{challenge.description}}
                                  </p>
                <div class="item item-divider"> <i class="icon ion-trophy"></i> Earnings </div>
                      <p>Charity Selected: <a ui-sref="app.charity({id: challenge.charity})">{{challenge.charity.name}}</a></p>
                      <p>Charity Earnings: <a>R{{charityEarnings}}</a></p>
                      <p>Admin Fee: <a>R{{adminEarnings}}</a> </p>
                      <p>Your total winnings:R{{challengeeEarnings}} </p>
                      <a ui-sref="app.vendors">Select a vendor to claim prize</a>
                  <div class="item item-divider">Social
                    <i class="icon ion-person-stalker"></i>
                  </div>
                  <a ui-sref="app.challenge(id: challenge.id)" class="item subdued">4 Followers</a>
                  <a href="#" class="item subdued">5 Comments</a>
                </p>
              </div>
            </div>
    </ion-content>
</ion-view>