<ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
  <ion-item ng-repeat="comment in comments track by $index" 
                  item="item"
                  class="item-remove-animate" class="item item avatar">
                                  <div class="item item-avatar item-text-wrap">
                                        <span class="avatar" style="background-image: url('{{comment.ownerImage}}');"></span>
                                        <strong>{{ comment.ownerUsername }}</strong>
                                        <p>{{ comment.content }}</p>
                                        <p>{{ comment.created | date:'yyyy-MM-dd'}}</p>
                                        <div class="card-footer text-right">
                                        </div>
                                    </div>
          <ion-delete-button class="ion-minus-circled" 
                             ng-click="onItemDelete(item)">
          </ion-delete-button>
          <ion-option-button class="button-assertive"
                             ng-click="edit({{comment}})">
            Edit
          </ion-option-button>
          <!--<ion-option-button class="button-calm"
                             ng-click="share({{comment}})">
            Share
          </ion-option-button>-->
          <ion-option-button class="button-positive"
                             ng-click="delItem({{comment}})">
            Del
          </ion-option-button>
          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>
  </ion-list>


<div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Comment" ng-model="commentParams.content">
      </label>
      <button class="button button-small bar-balanced" ng-click="createComment(commentParams)">
        Comment
      </button>
</div>

    <!--</ion-content>-->