<ion-view view-title="" style="background: url({{background}}) center; background-size: cover;">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-share" ng-click="OtherShare()"></button>
        <button class="button button-icon icon ion-person-add" ng-click="addUserToChallenge()" ui-sref="app.addFollower({challengeId: challengeId})"> </button>
        <button class="button button-icon icon ion-camera" ng-click="upload()"></button>
        <button class="button button-icon icon ion-videocamera" ng-click="record()"></button>
    </ion-nav-buttons>
    <ion-content ng-class="{expanded:isExpanded}" scroll="true">
            <div ui-view="challengeUpper" style="background:rgba(255,255,255,0.5);"></div>
            <div ui-view="challengeLower" style="background:rgba(255,255,255,0.5);"></div>
    </ion-content>
</ion-view>
