<ion-view>
    <ion-tabs class="tabs-icon-top">
 
    <!-- Explore Tab -->
        <ion-tab title="Challenges For Me" icon="icon ion-home" ui-sref ="challenges-tab.challengesForMe">
        <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-tab>
        
        <!--  Friends Tab -->
        <ion-tab title="Challenges For Friends" icon="icon ion-heart" ui-sref = "challenges-tab.challengesForFriends">
        <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-tab>
    
    </ion-tabs>
</ion-view>

