<ion-view view-title="Challenge Summary" style="background: url({{background}}) center; background-size: cover;">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
              <div class="list card" style="background:rgba(255,255,255,0.5);">
                    <div class="item item-avatar">
                      <img src="{{challenge.challengee.profileImageURL}}">
                      <h2>Challengee: {{challenge.challengee.name}}</h2>
                      <p>Description: {{challenge.description}}</p>
                      <p>Bounty: {{challenge.bounty}}</p>
                      <p>Completed: {{challenge.updated | date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
                      <p>Successfully Completed: {{challenge.successfulCompletion}}</p>
                    </div>
                  <div class="item item-image">
                      <img src="{{challenge.image}}">
                  </div>
                  <div>
                    <p>Charity Selected: <a ui-sref="app.charity({id: challenge.charity.id})">{{challenge.charity.name}}</a></p>
                      <p>Charity Earnings: <a>{{charityEarnings}}</a></p>
                  </div>
              </div>
          </div> 
    </ion-content>
</ion-view>

