<button id="fab-list"
		class="button button-fab button-fab-bottom-right expanded button-energized-900 spin" ng-class="{'on' : showFabButton}" ng-click="OtherShare()">
	<i class="icon ion-share"></i>
</button>
<button id="fab-list"
		class="button button-fab button-fab-bottom-right expanded button-energized-900 spin" ng-class="{'on' : showFabButton}" ng-click="upload()">
	<i class="icon ion-plus-round"></i>
</button>
 <button id="fab-list-useradd"
		class="button button-fab button-fab-top-right expanded button-energized-900 spin" ng-class="{'on' : showFabButton}" ng-click="addUser()">
	<i class="icon ion-person-add"></i>
</button> 