<ion-view view-title="Friend Requests">
    <ion-content ng-class="{expanded:isExpanded}" style="background: url({{background}}) center; background-size: cover;">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-model="searchQuery"/>
                </label>
                <div class="card" ng-show="!friendRequests.length" style="background:rgba(255,255,255,0.5);">
                    <div class="item item-divider">
                        <span class="assertive">No friend requests</span>
                    </div>

                    <div class="item item-text-wrap">
                            Tell your friends to join the UPLIFT movement. Share Us.
                    </div>          
                </div>

            <ion-list>
                <div class="list" ng-repeat="friendRequest in friendRequests | filter:searchQuery">
                    <a class="item item-avatar" ui-sref="app.friendProfile({friendId: friendRequest.senderId})" >
                        <img src="{{friendRequest.senderImage}}">
                        <h2>{{friendRequest.name}}</h2>
                        <h3>{{friendRequest.senderUsername}}</h3>
                        <p>{{friendRequest.created}}</p>
                    </a>
                    <div class="buttons">
                        <button class="button button-balanced" ng-click="acceptFriendRequest(friendRequest.id)">
                            <i class="icon icon ion-checkmark-round"></i>
                        </button>
                        <button class="button button-assertive" ng-click="declineFriendRequest(friendRequest.id)">
                            <i class="icon icon ion-close"></i>
                        </button>
                    </div>
                 </div>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
