
<ion-view view-title="Sign Up" align-title="left" hide-nav-bar="true" hide-back-button="true">
       <ion-content style="background: url({{background}}) center; background-size: cover;">
           <div class="hero no-header flat">
                <div class="content">
                    <div class="app-icon"></div>
                    {{err}}
                    <h1>UPLIFT</h1>
                </div>
           </div>
        <div class="list">
            <!--<ion-md-input placeholder="Username" highlight-color="balanced" type="text" ng-model="user.username"></ion-md-input>-->
            <ion-md-input placeholder="Email" highlight-color="balanced" type="email" ng-model="user.email"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="balanced" type="password" ng-model="user.password"></ion-md-input>
        </div> 
        
        <div class="padding">
                <button style="background-color: black" class="button button-full button-assertive ink" ng-click="signupEmail()">Sign Up</button>
                <a href="#/app/login" class="button button-royal button-clear button-block button-small" style="color:white">Already have an account? Log In</a>
        </div>     
    </ion-content>
</ion-view>