<ion-view view-title="Username" align-title="left" hide-nav-bar="true" hide-back-button="true">
       <ion-content style="background: url({{background}}) center; background-size: cover;" ng-controller="usernameController">
           <div class="hero no-header flat">     
                <div class="content">
                    <!--<div class="app-icon"></div>-->
                    {{err}}
                    <h3>Set your username</h3>
                </div>
           </div>
        <form >
        <div class="list">
            <ion-md-input placeholder="Username" highlight-color="balanced" ng-pattern = "usernameRegex" type="text" ng-model="user.username"></ion-md-input>
        </div> 
        
        <div class="padding">
                <button style="background-color: black" class="button button-full button-assertive ink" ng-click="updateUsername(user.username)">Next</button>
        </div>  
          </form>   
    </ion-content>
</ion-view>



<!--<div class="bar bar-header bar-positive">
  <h1 class="title">Setup your username</h1>
</div>

<div class="center">
  <form ng-controller="usernameController">
    <div class="list list-inset">
        <input type="text" placeholder="Username" ng-pattern = "usernameRegex" highlight-color="balanced" ng-model="username">
        <div class="padding">
            <button style="background-color: black" class="button button-full button-assertive ink" ng-click="updateUsername(username)">next</button> 
        </div>
    </div>
  </form>

</div>-->


