<ion-view view-title="Login" hide-nav-bar="true" hide-back-button="true">
    <ion-content ng-class="{expanded:isExpanded}" style="background: url(img/photo-1459183885421-5cc683b8dbba.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>UPLIFT</h1>
            </div>
        </div>
         <div class="list">     
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            <div class="padding">
                <button class="button button-full icon-left ion-social-facebook button-positive-900 ink" ng-click="oauthLogin('facebook') ">Facebook</button>
                <button class="button button-full icon-left ion-social-google button-assertive-900 ink" ng-click="oauthLogin('google')">Google</button>  
                <a href="#/app/emailLogin" style="background-color: black" class="button button-full icon-left ion-email button-assertive-900 ink">Email</a>
                <a href="#/app/signup" class="button button-royal button-clear button-block button-small" style="color:white">Don't' have an account? Sign Up</a>
            </div>
           
        

        </div> 
        


    </ion-content>
</ion-view>
    