<ion-view view-title="EmailLogin" hide-nav-bar="true" hide-back-button="true">
    <ion-content ng-class="{expanded:isExpanded}" style="background: url({{background}}) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                {{err}}
                <div class="app-icon"></div>
                <h1>UPLIFT</h1>
            </div>
        </div>
         <div class="list">
            <ion-md-input placeholder="Email" highlight-color="balanced" type="email" ng-model="user.email"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password" ng-model="user.password"></ion-md-input>
            
            <div class="padding">
                <a href="#/app/passwordReset" class="button button-royal button-clear button-block button-small" style="color:white">Forgot Password</a><a href="#/app/signup" class="button button-royal button-clear button-block button-small" style="color:white">Sign Up</a>
                <button style="background-color: black" class="button button-full button-assertive-900 ink" ng-click="validateUser()">Login</button>
                <a href="#/app/login" class="button button-royal button-clear button-block button-small" style="color:white">Login using your social networks</a>
            </div>
        </div> 
    </ion-content>
</ion-view>
    