<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="light-bg expanded">
            <span class="avatar" style="background: url('img/logo.png'); background-size: cover;"></span>
            <h2 class="light">UPLIFT</h2>
        </ion-header-bar>
        <ion-content class="light-bg has-expanded-header">
            <ion-list>
                <div class="item item-divider">
                    Challenges
                </div>
                <ion-item nav-clear menu-close ui-sref="app.challengeRequests">
                    <i class="icon ion-paper-airplane"></i>
                    Challenge Requests
                <span class="badge badge-balanced">{{challengesCount}}</span>
                </ion-item>
                <!--<ion-item nav-clear menu-close ui-sref="challenge-tab.createdChallenges">
                    <i class="icon ion-ribbon-b"></i>
                    Challenges
                    <span class="badge badge-balanced">{{challengesCount}}</span>
                </ion-item>-->
                <ion-item nav-clear menu-close ui-sref="app.challengeCategoryList">
                    <i class="icon ion-flag"></i>
                    Challenge Categories
                </ion-item>
                <!--<ion-item nav-clear menu-close ui-sref="app.activity">
                    <i class="icon ion-arrow-graph-up-right"></i>
                    Activity
                    <span class="badge badge-assertive">2</span>
                </ion-item>-->
                            <div class="item item-divider">
                                People
                            </div>
                <ion-item nav-clear menu-close ui-sref="app.profile">
                    <i class="icon ion-person"></i>
                    Profile
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.friends">
                    <i class="icon ion-person-stalker"></i>
                    Friends
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.friendRequests">
                    <i class="icon ion-person-add"></i>
                    Friend Requests
                    <span class="badge badge-assertive">{{friendRequestCount}}</span>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.explore1">
                    <i class="icon ion-compass"></i>
                    Explore
                </ion-item>
                <div class="item item-divider">
                    Community
                </div>
                <ion-item nav-clear menu-close ui-sref="app.charities">
                    <i class="icon ion-earth"></i>
                    Charities
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.vendors">
                    <i class="icon ion-bag"></i>
                    Vendors
                </ion-item>
                <div class="item item-divider">
                    Other
                </div>
                <ion-item  ui-sref="app.share">
                    <i class="icon ion-share"></i> 
                    Share
                </ion-item>
                <ion-item nav-clear menu-close ng-click="logout()">
                    <i class="icon ion-power"></i>
                    Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>