<ion-view view-title="{{charity.name}}">
  <ion-content style="background: url({{background}}) center; background-size: cover;">
    <div class="list card" style="background:rgba(255,255,255,0.5);">
      <div class="item">
        <!--<img src="{{charity.profileImage}}">-->
        <h1>{{charity.name}}</h1>
        <h2 class=light><b>Goal: {{charity.goal}}</b></h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="{{charity.profileImage}}">
          <h2 class=light>{{charity.description}}</h2>
          <h2 class=light>{{charity.statement}}</h2>
      </div>
    </div>
  </ion-content>
</ion-view>