<ion-view view-title="Charities" style="background: url({{background}}) center; background-size: cover;">
      <ion-header-bar class="bar-positive">
    <h1 class="title">Search charities</h1>
    <div class="buttons">
        <button class="button button-icon ion-android-search" 
                ng-click="vm.showFilterBar()"></button>
    </div>      
  </ion-header-bar>
    <ion-content ng-class="{expanded:isExpanded}" style="background:rgba(255,255,255,0.5);">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchQuery"/>
        </label>
            <!--<div class="list animate-fade-slide-in-right">-->
                <ion-list>
                <div class="list">
                    <a ui-sref="app.charity({id: charity.$id})" class="item item-thumbnail"
                        ng-repeat="charity in charities | filter:searchQuery" ng-style="style" 
                        style="background-image: url({{charity.profileImage}}); display: inline-block;vertical-align: middle;font-size: 30px; text-align:center;">
                        {{charity.name}}
                    </a>
                 </div>
                </ion-list>

    </ion-content>
</ion-view>

