<ion-view view-title="Choose your category">

<ion-content scroll="true" >
  <div class="item-borderless" ng-repeat="challengeCategory in challengeCategories" ng-style="myObj" style="background-image: url({{challengeCategory.image}}); filter: brightness(50%);">
      <ion-item class="item-borderless" ui-sref="app.step1({id: challengeCategory.id})" ng-click="next()" style="display: inline-block;vertical-align: middle;font-size: 40px; text-align:center;">
          <font color="white">{{challengeCategory.name}} </font>
      </ion-item>
  </div>
</ion-content>

</ion-view>