<ion-view view-title="Set Deadline" align-title="left" hide-nav-bar="true">
    <div class = "background-image"
    style="background-image: url({{background}});">
    </div>
       <ion-content class="transparent">
           <div class="hero no-header flat">
                <div class="content">
                </div>
           </div>
            <div class="list">
                <ion-md-input placeholder="Select Deadline" highlight-color="balanced" type="date" ng-model="challenge.deadline"></ion-md-input>
            </div> 
      
             <div class="padding">
                    <button style="background-color: black" class="button button-full button-assertive ink" ng-click="next()">Challenge</button> 
             </div>
           
  </ion-content>
</ion-view>