<ion-view view-title="Describe the challenge" align-title="left" hide-nav-bar="true">
        <div class = "background-image"
        style="background-image: url({{background}});">
        </div>
        <ion-content class = "transparent">

       <!--<ion-content style="background: url({{background}}) center; background-size: cover;">-->
        <div class="hero no-header flat">
                <div class="content">
                </div>
           </div>
            <div class="list">
                <ion-md-input  required="" placeholder="Challenge Name" highlight-color="balanced" type="text" ng-model="challenge.name"></ion-md-input>
                <ion-md-input placeholder="Challenge Description" highlight-color="balanced" type="text" ng-model="challenge.description"></ion-md-input>
            </div>

             <div class="padding">
                    <button style="background-color: black" class="button button-full button-assertive ink" ui-sref="app.step2" ng-click="next()">next</button>
             </div>

  </ion-content>
</ion-view>
