<ion-view view-title="Choose bounty" align-title="left" hide-nav-bar="true">
    <div class = "background-image"
    style="background-image: url({{background}});">
    </div>
       <ion-content class="transparent">
           <div class="hero no-header flat">
                <div class="content">
                </div>
           </div>
            <ion-list>
                <ion-md-input placeholder="Total Bounty" highlight-color="balanced" ng-model="challenge.bounty"></ion-md-input>
                <!--<div class="item range">
                    <i class="icon ion-sad-outline"></i>
                        <input id="percentage" name="percentage" type="range" min="10" max="90" value="10">
                    <i class="icon ion-happy"></i>
                </div>-->
                <ion-md-input placeholder="Donation Percentage" highlight-color="balanced" ng-model="challenge.charityPercentage"></ion-md-input>
            </ion-list>

             <div class="padding">
                    <button style="background-color: black" class="button button-full button-assertive ink" ui-sref='app.step5' ng-click="next()">next</button>
             </div>

  </ion-content>
</ion-view>
