<ion-view view-title="Select Challengee">
    <div class = "background-image"
    style="background-image: url({{background}});">
    </div>
    <ion-content ng-class="{expanded:isExpanded}" class="transparent">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-model="searchQuery"/>
                </label>
        <div class="content has-header">
                <div class="list">
                    <a class="item item-avatar" ui-sref='app.step3' ng-repeat="challengee in users | filter:searchQuery" ng-click = "next()">
                        <img src="{{challengee.profileImageURL}}">
                        <h2>{{challengee.name}}</h2>
                        <p>{{challengee.username}}</p>
                    </a>
                 </div>
        </div>
    </ion-content>

</ion-view>