<ion-view view-title="Add Follower">
    <ion-content ng-class="{expanded:isExpanded}">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-model="searchQuery"/>
                </label>
                <div class="list">
                    <a class="item item-avatar" ng-repeat="follower in followers  | filter:searchQuery" ng-click="addFollower(follower.id)">
                        <img src="{{follower.profileImageURL}}">
                        <h2>{{follower.name}}</h2>
                        <p>{{follower.username}}</p>
                    </a>
                 </div>
        </div>
    </ion-content>
</ion-view>
