<ion-view view-title="Challenge Requests">
    <ion-content style="background: url({{background}}) center; background-size: cover;">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-model="searchQuery"/>
                </label>                                              
        <div class="card" ng-show="!challengeRequests.length" style="background:rgba(255,255,255,0.5);">
        <div class="item item-divider">
            <span class="assertive">No challenge requests</span>
        </div>
        <div class="item item-text-wrap">
            No one wants to challenge. Take the first step. Challenge Someone.
        </div>          
    </div>
            <ion-list>
                <div class="list" ng-repeat="challengeRequest in challengeRequests | filter:searchQuery">
                    <a class="item item-avatar" style="background:rgba(255,255,255,0.5);" ui-sref="app.challengeRequestPreview({id: challengeRequest.id})" >
                        <img src="{{challengeRequest.senderImage}}">
                        <h2>{{challengeRequest.name}}</h2>
                        <p>{{challengeRequest.senderUsername}}</p>
                        <h2>{{challengeRequest.created | date:'HH:mm  dd-MMM-yyyy'}}</h2>
                    </a>
                    <div class="buttons">
                        <button class="button button-balanced" ng-click="acceptChallengeRequest(challengeRequest.id)">
                            <i class="icon icon ion-checkmark-round"></i>
                        </button>
                        <button class="button button-assertive" ng-click="declineChallengeRequest(challengeRequest.id)">
                            <i class="icon icon ion-close"></i>
                        </button>
                    </div>
                 </div>
            </ion-list>
    </ion-content>
</ion-view>
