<ion-content scroll="true" style="background: url({{background}}) center; background-size: cover;">
<div class="list card" style="background:rgba(255,255,255,0.5);">
    <a class="item item-avatar" ui-sref="app.friend({id: challengerId.id})" >
                        <img src="{{previewChallenge.challengerImage}}">
                        <h2>{{previewChallenge.challengerName}}</h2>
                        <p>{{previewChallenge.challengerUsername}}</p>
                        <p>{{previewChallenge.created | date:'HH:mm  dd-MMM-yyyy'}}</p>
    </a>
    <p>
      <p><strong>Name:</strong> {{previewChallenge.name}}</p>
      <p><strong>Category: </strong>{{previewChallenge.category}}</p>  
      <p><strong>Bounty: </strong> R{{previewChallenge.bounty}}</p>
      <p><strong>Deadline: </strong> {{previewChallenge.deadline | date:'HH:mm  dd-MMM-yyyy'}}</p>
    </p>
  <div class="item item-body">
                    <div class="content">
                    <div class="avatar" ng-style="profileImage" ng-show="{{previewChallenge.challengerImage}}"></div>
                </div>
    <p>
        {{previewChallenge.description}}
    </p>   
      <a  class="item item-avatar" ui-sref="app.charity({id: charityId})">
        <img src="{{previewChallenge.charityImage}}">
        <p><b>Charity:<b>{{previewChallenge.charityName}}</p> 
      </a>
      <p><b>Charity Percentage:<b> {{previewChallenge.charityPercentage}}</p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
        <button class="button button-balanced" ng-click = "acceptChallengeRequest({{previewChallenge.id}})">
            Accept
        </button>
        <button class="button button-assertive" ng-click = "declineChallengeRequest({{previewChallenge.id}})">
            Decline
        </button>
  </div>
</div>
</ion-content>

