<ion-view view-title="Password Reset" align-title="left" hide-nav-bar="true">
       <ion-content style="background: url({{background}}) center; background-size: cover;">
           <div class="hero no-header flat">
                <div class="content">
                    <div class="app-icon"></div>
                    <h1>UPLIFT</h1>

                </div>
           </div>
            <div class="list">
                <ion-md-input placeholder="Email" highlight-color="balanced" type="email" ng-model="user.email"></ion-md-input>
                 <a href="#/app/login" class="button button-royal button-clear button-block button-small" style="color:white">Already have an account? Log In.</a>
            </div> 
      
             <div class="padding">
                    <button style="background-color: black" class="button button-full button-assertive ink" ng-click="resetPassword()">Reset</button> 
             </div>
           
  </ion-content>
</ion-view>
