<button id="fab-profile"
		class="button button-fab button-fab-bottom-right button-energized-900 spin" ng-class="{'on' : showFabButton}"
		ui-sref="app.create-challenge-category">
	<i class="icon ion-plus-round"></i>
</button>