<ion-view view-title="Profile" hide-back-button="true" style="background-image: url('{{background}}');">>  
        <ion-content scroll="true">
        <div class="hero slide-up" style="background-image: url('{{background}}');">

        </div>
        <div class="hero" style="margin:auto;
                                 margin-top:-200px;
                                 text-align:left;
                                 z-index:20;">
                <div class="content">
                    <div class="avatar" ng-style="profileImage" ng-show="'{{profileImage}}'" ></div>
                    <h3><a class="light">{{ username }}</a></h3>
                    <h4><a class="light">{{ email }}</a></h4>
                </div>
            </div>
                <div class="tabs tabs-stable tabs-icon-left static">
                    <a class="tab-item">
                        <i class="icon ion-ribbon-a"></i>Bounty: {{ bounty }}           
                    </a> 
                    <a class="tab-item">
                        <i class="icon ion-trophy"></i>Completed: {{ completedChallenges }}
                    </a>        
            </div>
        <div class="card" ng-show="!challengedChallenges.length || !createdChallenges.length" style="background:rgba(255,255,255,0.5);">
            <div class="item item-divider">
            <span class="assertive">No challenges</span>
            </div>

            <div class="item item-text-wrap">
                    Add a new challenge by clicking the + button below
            </div>          
        </div>


        <ion-list>
        <div ng-repeat="group in challenges">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{group.name}}
            <!--<span class="badge badge-assertive">{{group.size}}</span>-->
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="challenge in group.challenges"
                    ng-show="isGroupShown(group)"
                    ui-sref="app.challenge({id: challenge.id})" 
                    class="item-remove-animate" 
                    class="item item avatar" 
                    style="background:rgba(255,255,255,0.5);">
                    <span>
                            <h1 class="light">{{ challenge.name }}</h1>
                            <span ng-show="!challenge.isArchived">Status: Ongoing  <i class="icon ion-record assertive"></i></span>
                            <span ng-show="challenge.isArchived ">Status: Completed  <i class="icon ion-record balanced"></i></span>
                            <!--<span class="right" ng-show="!(challenge.status == COMPLETED)"><i class="icon ion-record assertive"></i></span>
                            <span class="right" ng-show="(challenge.status == COMPLETED)"><i class="icon ion-record balanced"></i></span>-->
                    </span>    
                              <img class="item item thumbnail" src="{{challenge.image}}">
                              <h3 class="light">Bounty: R{{ challenge.bounty }}</h3>
                              <h3 class="assertive">Deadline: {{ challenge.deadline | date:'HH:mm  dd-MMM-yyyy'}}</h3>
                              <h3 class="light">Challenger: {{ challenge.challengerUsername }}</h3>
                              <h3 class="light" ng-show="challenge.progress > 0"><b>Progress: {{challenge.progress}}%</b></h3>
                              <p>
                                            <div class="loader-progress" style="width: {{challenge.progress}}%;">
                                            </div>
                            </p>
                            <h3 class="light" ng-show="challenge.followers.length"><b>Followers:</b></h3>
                              <div ng-repeat="follower in challenge.followers"
                                  class="sharingWith" 
                                  ng-style="{'background': 'url({{follower.profileImageURL}})', 'background-size':'30px 30px', 'background-repeat': 'no-repeat'}" 
                                  ng-show="'{{follower.profileImageURL}}'" 
                                  ng-click="$event.stopImmediatePropagation(); $event.preventDefault(); RemoveUserFromGroup({{follower}},{{challenge}});">
                              </div>
                                
                        
                                    <ion-delete-button class="ion-minus-circled" 
                                                      ng-click="onItemDelete(item)">
                                    </ion-delete-button>
                                    <ion-option-button class="button-assertive"
                                                      ng-click="edit({{challenge}})">
                                      <!--Edit
                                    </ion-option-button>
                                    <ion-option-button class="button-calm"
                                                      ng-click="share({{comment}})">-->
                                      Share
                                    </ion-option-button>
                                    <ion-option-button class="button-positive"
                                                      ng-click="delItem({{challenge}})">
                                      </ion-option-button>
                                    <!--Del
                                  
                                  <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>-->
     
          </ion-item>
        </div>
        <div ng-repeat="group in statistics">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{group.name}}
            <!--<span class="badge badge-assertive">{{group.size}}</span>-->
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="challenge in group.value"
                    ng-show="isGroupShown(group)"
                    class="item-remove-animate" 
                    class="item item avatar" 
                    style="background:rgba(255,255,255,0.5);">
                    <h2 class="light">{{ challenge.name }} : {{ challenge.value }}</h2>
                    <h3 class="light"></h3>
          </ion-item>
        </div>
      </ion-list>











      <div class="card" style="background:rgba(255,255,255,0.5);">
        <div class="item item-divider">    
            Notifications   
            <span class="badge badge-energized" >{{notifications.length}}</span>
        </div>
            <div class="list" item-text-wrap scroll="true">
                <a class="item item-avatar" ng-repeat="notification in notifications | orderBy: '-created'">
                    <img src="{{notification.owner.profileImageURL}}">
                    <h2>{{notification.owner.name}}</h2>
                    <p>{{notification.message}}</p>
                    <p>{{notification.created | date:'HH:mm  dd-MMM-yyyy'}}</p>
                </a>
            </div>
        <div class="item item-divider"> 
        </div>
    </div>
        
        </ion-content>
</ion-view>
