<div class="card" ng-show="!createdChallenges.length">
  <div class="item item-divider">
    <span class="assertive">No challenges</span>
  </div>
  <div class="item item-text-wrap">
          Add a new challenge by clicking the + button below
  </div>          
</div>

<ion-list>
        <div ng-repeat="group in challenges">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{group.name}}
            <span class="badge badge-assertive">{{group.size}}</span>
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="challenge in group.challenges"
                    ng-show="isGroupShown(group)"
                    ui-sref="app.challenge({id: challenge.id})" 
                    class="item-remove-animate" 
                    class="item item avatar" 
                    style="background-image: url({{challenge.image}}">
                              <img class="item item avatar" src="{{challenge.challengerImage}}">
                              <h2 class="light">Name: {{ challenge.name }}</h2>
                              <h2 class="light">Bounty: R{{ challenge.bounty }}</h2>
                              <h3 class="assertive"> Deadline: {{ challenge.deadline | date:'yyyy-MM-dd'}}</h3>
                              <p class="light"> Challenger: {{ challenge.challengerUsername }}</p>

                              <div ng-repeat="follower in challenge.followers"
                                  class="sharingWith" 
                                  ng-style="{'background': 'url({{follower.profileImageURL}})', 'background-size':'30px 30px', 'background-repeat': 'no-repeat'}" 
                                  ng-show="'{{follower.profileImageURL}}'" 
                                  ng-click="$event.stopImmediatePropagation(); $event.preventDefault(); RemoveUserFromGroup({{follower}},{{challenge}});">
                              </div>
                                    <ion-delete-button class="ion-minus-circled" 
                                                      ng-click="onItemDelete(item)">
                                    </ion-delete-button>
                                    <ion-option-button class="button-assertive"
                                                      ng-click="edit({{challenge}})">
                                      <!--Edit
                                    </ion-option-button>
                                    <ion-option-button class="button-calm"
                                                      ng-click="share({{comment}})">-->
                                      Share
                                    </ion-option-button>
                                    <ion-option-button class="button-positive"
                                                      ng-click="delItem({{challenge}})">
                                      </ion-option-button>
                                    <!--Del
                                  
                                  <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>-->
          </ion-item>
        </div>
      </ion-list>

<!--<ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
        <ion-item ng-repeat="challenge in createdChallenges"  item="item" 
                  ui-sref="app.challenge({id: challenge.id})" class="item-remove-animate" class="item item avatar" style="background-image: url({{challenge.image}}">
          <img class="item item avatar" src="{{challenge.challengerImage}}">
          <div class ="my-container">
             <img src="{{challenge.image}}">
          <h2 class="light">Name: {{ challenge.name }}</h2>
          <h2 class="light">Bounty: R{{ challenge.bounty }}</h2>
          <h3 class="assertive"> Deadline: {{ challenge.deadline | date:'yyyy-MM-dd'}}</h3>
          <p class="light"> Challenger: {{ challenge.challengerUsername }}</p>
          </h3>
          
        <div ng-repeat="follower in challenge.followers" class="sharingWith" ng-style="{'background': 'url({{follower.profileImageURL}})', 
        'background-size':'30px 30px', 'background-repeat': 'no-repeat'}" 
        ng-show="'{{follower.profileImageURL}}'" 
        ng-click="$event.stopImmediatePropagation(); $event.preventDefault(); RemoveUserFromGroup({{follower}},{{challenge}});">
        </div>

          <ion-delete-button class="ion-minus-circled" 
                             ng-click="onItemDelete(item)">
          </ion-delete-button>
          <ion-option-button class="button-assertive"
                             ng-click="edit({{challenge}})">
            Edit
          </ion-option-button>
          <ion-option-button class="button-calm"-->
                             <!--ng-click="share({{comment}})">
            Share
          </ion-option-button>-->

   <!--</ion-item>-->
<!--</ion-list>-->
