<!--<div class="tabs tabs-dark tabs-icon-top static">
    <a ui-sref="app.friends" class="tab-item">
        <i class="icon ion-android-people"></i> Friends
    </a>
    <a ui-sref="challenge-tab.createdChallenges" class="tab-item">
        <i class="icon ion-images"></i> Challenges
    </a>  
    <a ui-sref="app.activity" class="tab-item">
        <i class="icon ion-paper-airplane"></i> Activity
    </a>             
</div>-->