<ion-view view-title="Search Friends">
    <ion-content style="background: url({{background}}) center; background-size: cover;">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-model="searchQuery"/>
                </label>
                <div class="card" ng-show="!friends.length" style="background:rgba(255,255,255,0.5);">
                    <div class="item item-divider">
                        <span class="assertive">You have no friends.</span>
                    </div>

                    <div class="item item-text-wrap">
                            Tell your friends to join the UPLIFT movement. Share Us.
                    </div>          
                </div>
                <div class="list">
                    <a class="item item-avatar" ui-sref='app.friendProfile({friendId: friend.id})' ng-repeat="friend in friends | filter:searchQuery">
                        <img src="{{friend.profileImageURL}}">
                        <h2>{{friend.name}}</h2>
                        <p>{{friend.username}}</p>
                    </a>
                 </div>
        </div>
    </ion-content>
</ion-view>
