<ion-view view-title=" {{friend.username}}'s Profile" align-title="left" style="background-image: url('{{background}}');">>  
        <ion-content scroll="true">
        <div class="hero slide-up" style="background-image: url('{{background}}');">

        </div>
        <div class="hero" style="margin:auto;
                                 margin-top:-200px;
                                 text-align:left;
                                 z-index:20;">
                <div class="content">
                    <div class="avatar" ng-style="profileImage" ng-show="'{{friend.profileImageURL}}'"></div>
                    <h3><a class="light">{{ friend.name}}</a></h3>
                    <h4><a class="light">{{ friend.username }}</a></h4>
                </div>
            </div>
                <div class="tabs tabs-stable tabs-icon-left static">
                    <a class="tab-item">
                        <i class="icon ion-ribbon-a"></i>Bounty: {{ friend.bounty }}           
                    </a> 
                    <a class="tab-item">
                        <i class="icon ion-trophy"></i>Completed: {{ friend.completedChallenges }}
                    </a>            
                </div>

        <div class="card" style="background:rgba(255,255,255,0.5);">
            <div class="item item-divider">
            <span class="assertive">Challenge</span>
            </div>

            <div class="item item-text-wrap">
                    Challenge {{ friend.name}} by clicking the + button below
            </div>          
        </div>
        <div ng-repeat="group in statistics">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{group.name}}
            <!--<span class="badge badge-assertive">{{group.size}}</span>-->
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="challenge in group.value"
                    ng-show="isGroupShown(group)"
                    class="item-remove-animate" 
                    class="item item avatar" 
                    style="background:rgba(255,255,255,0.5);">
                    <span class="right"> <h2 class="light"><strong>{{ challenge.name }} </strong>: {{ challenge.value }}</h2> </span>
          </ion-item>
        </div>
      </ion-list>

        </ion-content>
</ion-view>