<ion-view view-title= "{{friend.name}}'s Profile" align-title="left">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="hero slide-up" style="background-image: url('{{background}}');">
            <div class="hero">
                <div class="content">
                    <div class="avatar" ng-style="profileImage" ng-show="'{{friend.profileImageURL}}'"></div>
                    <h3><a class="light">{{ friend.name }}</a></h3>
                    <h4>{{ friend.username }}</h4>
                </div>
            </div>
        </div>
        <div class="tabs tabs-stable tabs-icon-top static">
            <!--<a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Your Challenges to Them
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Their Challenges to You
            </a>-->
        </div>

        <!--<div class="card" ng-show="!myCreatedChallengesForFriends.length">
            <div class="item item-divider">
                <span class="assertive">No competing challenges</span>
            </div>
        </div>-->
    </ion-content>
</ion-view>
