<!--<ion-view view-title="Search People" align-title="left">
       <ion-content>
           <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="searchQuery"/>
            </label>
            <div class="content has-header">

                <ion-list>
                <div class="list" ng-repeat="friend in users | filter:searchQuery">
                    <a class="item item-avatar"
                     ui-sref='app.friendProfile({friendId: friend.$id})' >
                        <img src="{{friend.profileImageURL}}">
                        <h2>{{friend.name}}</h2>
                        <p>{{friend.bio}}</p>

                    </a>
                        <div class="item item-button">
                            <button class="button button-positive" ng-click="addUser(friend.$id)">
                                <i class="icon ion-person-add"></i>
                            </button>
                        </div>
                 </div>

                </ion-list>
        </div>
           
  </ion-content>
</ion-view>-->


<ion-header-bar class="bar-positive">
    <h1 class="title">Search People</h1> 
  </ion-header-bar>
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchQuery"/>
        </label>
            <!--<div class="list animate-fade-slide-in-right">-->
                <ion-list>
                <div class="item item-button-right" ng-repeat="friend in users | filter:searchQuery">
                    <a class="item item-avatar"
                     ui-sref='app.friendProfile({friendId: friend.id})' >
                        <img src="{{friend.profileImageURL}}">
                        <h2>{{friend.name}}</h2>
                        <p>{{friend.username}}</p>
                        <p>{{friend.bio}}</p>
                    </a>
                        <div class="item item-button">
                            <button class="button button-positive" ng-click="addUser(friend.id)">
                                <i class="icon ion-person-add"></i>
                            </button>
                        </div>
                 </div>
                </ion-list>
        </div>
</ion-content>