<ion-tabs class="tabs-icon-top">
 
  <!-- Explore Tab -->
 <ion-tab title="Find People" icon="icon ion-home-energized" ui-sref ="tab.explore">
 <ion-nav-view name="tab-explore"></ion-nav-view>
 </ion-tab>
 
 <!--  Friends Tab -->
 <ion-tab title="Friends" icon="icon ion-heart-assertive" ui-sref = "tab.friends">
 <ion-nav-view name="tab-friends"></ion-nav-view>
 </ion-tab>

 
</ion-tabs>

