<ion-view view-title="Search People">
    <ion-content style="background: url({{background}}) center; background-size: cover;">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-model="searchQuery"/>
                </label>
                <div class="list">
                    <a class="item item-avatar item-button-right" " ui-sref='app.friendProfile({friendId: user.id})' ng-repeat="user in users | filter:searchQuery" style="background:rgba(255,255,255,0.5);">
                        <img src="{{user.profileImageURL}}">
                        <h2>{{user.name}}</h2>
                        <h3>{{user.username}}</h3>
                        <h4>{{user.bio}}</h4>
                        <h4 class="pull-right royal">Bounty: {{user.bounty}}</h4>   
                        <div class="item item-button">
                            <button class="button button-stable" ng-click="addUser(user.id)">
                                <i class="icon ion-person-add"></i>
                            </button>
                        </div>
                    </a>
                 </div>
        </div>
    </ion-content>
</ion-view>