<ion-header-bar class="bar-positive">
    <h1 class="title">Search Friends</h1> 
  </ion-header-bar>
    <ion-content ng-class="{expanded:isExpanded}">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchQuery"/>
        </label>
        <div class="content has-header">
            <ion-list>
                <div class="list">
                    <a class="item item-avatar"
                     ui-sref='app.friendProfile({friendId: friend.id})' 
                     ng-repeat="friend in friends | filter:searchQuery">
                        <img src="{{friend.profileImageURL}}">
                        <h2>{{friend.name}}</h2>
                        <p>{{friend.username}}</p>
                        <p>{{friend.bio}}</p>
                    </a>
                 </div>
            </ion-list>
        </div>
    </ion-content>

