<div class="bar bar-header">
  <button class="button button-icon icon ion-navicon" ui-sref="app.profile"></button>
  <div class="h1 title">Explore</div>
  <button class="button button-clear button-positive" ui-sref="app.profile">Edit</button>
</div>