/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 30px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 5px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/logo.png') center no-repeat;
    background-size: contain;
    /*border-radius: 50%;*/
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}


.loginContentStyle {
    background: #990012; 
    background: -webkit-linear-gradient(to bottom, #990012 , #009987); 
    background: linear-gradient(to bottom, #990012, #009987);
}

.myNumberInput {
    font-size: 20px !important;
    line-height: 20px !important;
    padding-top: 20px !important;
    text-align: center;
}

.myProjectTitle {
    font-size: 26px !important;
    padding-top: 8px;
}

.checked {
    text-decoration: line-through !important;
    color: gray;
}

.myInput {
    font-size: 20px !important;
    line-height: 20px !important;
    border: 1px solid #ddd !important;
    margin-top: 5px !important;
    padding: 2px !important;
}

.noBorder {
    border: 0px !important;
}

.noPadding {
    padding: 0 !important;
}

.col-30{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}

.col-15{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}

.col-17{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 17%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 17%;
    -ms-flex: 0 0 17%;
    flex: 0 0 17%;
    max-width: 17%;
}

.sharingWith {
    height:30px;
    width:30px;
    border-radius: 50%;
    float: left;
    margin-left: 2px;
}

.myCheckMarkButton {
    width: 100%;
}

.centerText {
    text-align: center;
}

.item-complex {
  border-top: none;
  border-bottom:none;
  margin-bottom: -5px;
}

.no-padding {
    padding: 0px !important;
}

.text{
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
}

.background-challenge-image-opacity{
 width: 100vw;
  height: 100vh;
 -webkit-filter: opacity(.8);
  filter: opacity(.8);
}

.my-container {
    position: relative;
    overflow: hidden;
}
.my-container h1 {
    padding: 200px;
    position: relative;
    z-index: 2;
} 
.my-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}


.background-image {
  width: 100vw;
  height: 100vh;
  opacity: 0.2;

  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.transparent{
    background:rgba(255,255,255,0.5);
}

/*
    Form validation CSS
*/
 
/** Styling for the username field **/
label.item.has-error {  
  border-bottom: 2px solid red;
}
 
/** Styling for the password field when an error exists**/
.error-container {
  margin: 0;
}
 
.error {
  padding: 8px 8px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}
 
.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
}
 
.last-error-container > .error {
  padding: 10px 16px 0;
}
 
.has-errors {
  border-bottom: 1px solid #B83E2C;
}
 
.no-errors {
  border-bottom: 2px solid green;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.loader-progress{
	background: #8BC34A !important;
	border-radius:100px;
	height:20px;
	/*p{
		text-align:center;
		color:white !important;
		text-align:center;
	}*/
}

.loader-progress p{
    text-align:center;
		color:white !important;
		text-align:center;
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
    background: transparent !important;
}
 
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
 
.slider {
    width: 100%;
    height: 100%;
}